

<div class="border" style="width: 30%">
    <div class="card-header text-center">
        <h3>Book Detail</h3>
    </div>
    <div class="card-body">
        <table>
            <tbody>
                <tr>
                    <td><strong>Title : </strong>@Book.Title</td>
                </tr>
                <tr>
                    <td><strong>ISBN : </strong>@Book.ISBN</td>
                </tr>
                <tr>
                    <td><strong>Price : </strong>@Book.Price.ToString("c")</td>
                </tr>
                <tr>
                    <td><strong>Publication Date : </strong>@Book.DateOfPublication.ToLongDateString()</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-outline-danger btn-block" @onclick="DeleteClick" style="font-weight: bold">
            Delete
        </button>
        <button type="button" class="btn btn-outline-primary btn-block" @onclick="BackToList" style="font-weight: bold">
            Back to List
        </button>
    </div>
</div>


@code {
    [Parameter]
    public BookView Book { get; set; } = new();

    [Parameter]
    public EventCallback DeleteClick { get; set; }

    [Parameter]
    public EventCallback BackToList { get; set; }


}