

<div class="border">
    <div class="card-header text-center">
        <h1>Author Inclusion Form</h1>
    </div>
    <div class="card-body">
        <EditForm Model="Author">
            <div class="form-group">
                <label for="AuthorID" class="form-label">Author</label>
                <CustomInputSelect @bind-Value="Author.AuthorID" class="form-control">
                    <option>Select Author</option>
                    @foreach (var author in Authors)
                    {
                        <option value="@author.AuthorID">@author.FullName</option>
                    }
                </CustomInputSelect>
            </div>
        </EditForm>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <button type="button" @onclick="UpsertBook" class="btn btn-outline-success btn-block" style="font-weight: bold">@UpsertButton</button>
            <button type="button" @onclick="CancelMethod" class="btn btn-outline-primary btn-block" style="font-weight: bold">@CancelButton</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public AuthorView Author { get; set; } = new();

    [Parameter]
    public List<AuthorView> Authors { get; set; } = new();

    [Parameter]
    public EventCallback UpsertBook { get; set; }

    [Parameter]
    public EventCallback CancelMethod { get; set; }

    [Parameter]
    public string UpsertButton { get; set; }

    [Parameter]
    public string CancelButton { get; set; }

}